h1 {
    font-family: 'Dancing Script', cursive;
    color: #ff0d05;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: 'Hubballi', cursive;
    font-size: 30px;
    text-align: center;
    color: black;
}

td,
th {
    border: 1px solid;
    text-align: center;
}



/**colore riga alternato pari**/
tr:nth-child(2n) {
    background-color: #09ff0059;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) {
    background-color: #f0ec067e;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) {
    background-color: #0400ff60;
}

/**classe che mette in grasetto il testo**/
.grasetto {
    font-weight: bold;
}

.immagine {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 700px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

.Bandiera-FVG {
    margin: 10px;
    width: auto;
    height: 200px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

.Titolo {
    font-size: 100px;
}

a {
    text-decoration: none;
    color: blue;
}


.colore_apertura {
    font-family: 'Dancing Script', cursive;
    color: rgb(5, 236, 20);
}


input {
    position: relative;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: blue;
    background-color: yellow;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: dashed #00ff9d 10px;
    cursor: pointer;
}

.immagine_bici {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100px;
}


.menu {
    position: fixed;
    width: 20vw;
    min-width: 650px;
    height: 93%;
    list-style: none;
    right: 0;
    transform: translateX(+100%);
    transition: transform 1.5s;
    bottom: 0;
    background-color: yellowgreen;
    top: 10px;
    z-index: 10;
}


body {
    margin: 0;
}

a {
    text-decoration: none;
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.showMwnu {
    transform: translateX(0);
}

.CloseIcon {
    display: none;
}

.menu table {
    width: 100%;
    height: calc(100% - 5px);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

td,
th {
    border: 1px solid;
}

button
{
    background-color: aqua;
}

.immagini_stagione {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 250px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}