@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com") crossorigin;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

h1 {
  font-family: "Dancing Script", cursive;
  color: #ff0d05;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: "Hubballi", cursive;
  font-size: 30px;
  text-align: center;
  color: black;
}

/**colore riga alternato pari**/
tr:nth-child(2n) {
  background-color: #09ff0059;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) {
  background-color: #f0ec067e;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) {
  background-color: #0400ff60;
}

/**classe che mette in grasetto il testo**/
.grasetto {
  font-weight: bold;
}

.immagine{
  display: block;
  margin: 0 auto;
  width: auto;
  height: 700px;
  border: dashed #00ff9d 10px;
  background-color: yellow;
}

.immmaginejnrobot {
  display: block;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  border: dashed #00ff9d 10px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50px;
}

.Bandiera-FVG {
  margin: 10px;
  width: auto;
  height: 200px;
  border: dashed #00ff9d 10px;
  background-color: yellow;
}

.Titolo {
  font-size: 100px;
  text-shadow: 2px 2px 4px #000000;
}

a {
  text-decoration: none;
  color: blue;
}

.menu {
  position: fixed;
  width: 20vw;
  min-width: 600px;
  height: 93%;
  list-style: none;
  right: 0;
  transform: translateX(+100%);
  transition: transform 550ms;
  bottom: 0;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
  top: 0px;
  z-index: 10;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: linear-gradient(to right, green, white, white, red);
  border-radius: 50%;
  text-shadow: 2px 2px 4px black;
}

.showMwnu {
  transform: translateX(0);
}

.CloseIcon {
  display: none;
}

.CloseIcon span,
.MenuIcon span {
  font-size: 60px;
}

.menu table {
  width: 100%;
  height: calc(100% - 5px);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

table {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: white;
}

td,
th {
  border: 1px solid;
}

.container_stagione {
  text-align: center;
}

.immagini_stagione {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 250px;
  border: dashed #00ff9d 10px;
  background-color: yellow;
}

.immagini_stagione2 {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: dashed #00ff9d 5px;
  background-color: yellow;
  display: inline-block;
}

.estate {
  background: linear-gradient(to right, #f6fa70, #ff0060);
  border-radius: 50px;
}

.primavera {
  background: linear-gradient(to right, #00ff9d, #21b17a);
  border-radius: 50px;
}

.autunno_inverno {
  background: linear-gradient(to right, #b8e8fc, #b1afff);
  border-radius: 50px;
}

body {
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

.colore_apertura {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(cyan, cyan);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 50%;
  transition: background-size 300ms ease-in-out;
  font-family: "Dancing Script", cursive;
  color: orangered;
}

.colore_apertura:hover {
  font-family: "Dancing Script", cursive;
  background-size: 100% 25%;
}

.link_apertura {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(cyan, cyan);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 50%;
  transition: background-size 300ms ease-in-out;
  color: blue;
}

.link_apertura:hover {
  background-size: 100% 25%;
}

.CloseIcon,
.MenuIcon :hover {
  color: blue;
}

tr:hover {
  background: white;
}

.colore {
  background: linear-gradient(to right, #9bf6ff, #a0c4ff, #9bf6ff);
  border-radius: 50px;
  cursor: pointer;
}

.colore:hover {
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

.colore_sfondo_italia {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 120px;
}

.immagine_bicisx,
.immagine_bicidx,
.contornostagionedx,
.contornostagionesx {
  display: block;
  margin: 0 auto;
  margin: 10px;
  border-radius: 20%;
  text-align: center;
}

.contornostagionedx:hover,
.contornostagionesx:hover {
  color: black;
}

.immaginestagionesx,
.immagine_bicisx {
  float: left;
}

.immaginestagionedx,
.immagine_bicidx {
  float: right;
}

.immaginestagionedx,
.immaginestagionesx {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.contornostagionesx,
.contornostagionedx {
  position: relative;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: blue;
  display: block;
  margin: 5px auto;
}

@media all and (max-width: 1024px) {
  .colore_sfondo_italia {
    text-shadow: 2px 2px 4px
      linear-gradiennt(
        to right,
        green,
        green,
        green,
        green,
        green,
        green,
        white,
        white,
        red,
        red,
        red,
        red,
        red,
        red,
        red
      );
    background-image: linear-gradient(
      to right,
      green,
      green,
      green,
      green,
      green,
      green,
      green,
      white,
      white,
      red,
      red,
      red,
      red,
      red,
      red,
      red
    );
  }

  .immagine_bicisx,
  .immagine_bicidx {
    width: 500px;
    height: 350px;
    margin: 10px;
    border-radius: 20%;
  }

  .immagine_bicisx,
  .immagine_bicidx {
    width: 500px;
    height: 350px;
    margin: 10px;
    border-radius: 20%;
  }
}

@media all and (min-width: 1024px) {
  .colore_sfondo_italia {
    text-shadow: 2px 2px 4px
      linear-gradiennt(
        to right,
        green,
        green,
        green,
        green,
        green,
        green,
        green,
        white,
        white,
        red,
        red,
        red,
        red,
        red,
        red,
        red
      );
    background-image: linear-gradient(
      to right,
      green,
      green,
      green,
      green,
      green,
      green,
      green,
      white,
      white,
      red,
      red,
      red,
      red,
      red,
      red,
      red
    );
  }

  .immagine_bicisx,
  .immagine_bicidx {
    width: 600px;
    height: 420px;
    margin: 10px;
    border-radius: 20%;
  }
}

.animazione-bici {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(cyan, cyan);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 50%;
  transition: background-size 300ms ease-in-out;
  font-family: "Dancing Script", cursive;
  color: orangered;

  display: block;
  margin: 0 auto;
  width: auto;
  height: 250px;
}

.animazione-git {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(cyan, cyan);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 50%;
  transition: background-size 300ms ease-in-out;
  font-family: "Dancing Script", cursive;
  color: orangered;

  display: block;
  margin: 0 auto;
  width: auto;
  height: 50px;
}

.animazione-bici:hover,
.animazione-git:hover {
  font-family: "Dancing Script", cursive;
  background-size: 100% 7%;
}

.bici {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  background: linear-gradient(600deg, pink, pink, yellow, yellow, red, red);
  border: white;
}

.contorno {
  border: 3px solid red;
  margin: 10px;
  border-radius: 10px;
}

/**colore riga alternato pari**/
.contorno:nth-child(2n):hover {
  background: linear-gradient(600deg, red, red, yellow, yellow, pink, pink);
}

/**colore riga alternato dispari**/
.contorno:nth-child(2n + 3):hover {
  background: linear-gradient(600deg, pink, pink, yellow, yellow, red, red);
}

/***colore prima linea tabella**/
.contorno:nth-child(-n + 1):hover {
  background: linear-gradient(600deg, pink, pink, yellow, yellow, red, red);
}

.Titolo2 {
  color: orangered;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.principale {
  position: relative;
  display: block;
  margin: 0 auto;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
  border: white;
  border-radius: 0px;
}

.stylebuttonbiciMTB,
.stylebuttonbiciCorsa {
  position: fixed;
  top: 5px;
  z-index: 10;
  font-size: 50px;
  color: red;
  background-color: #00ff9d;
  border-radius: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.stylebuttonbiciCorsa {
  right: 130px;
}
.stylebuttonbiciMTB {
  right: 10px;
}

.contornostagione {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: blue;
}
.contornostagione:hover {
  color: black;
}

canvas {
  background-color: white;
}

.immaginestagionestat {
  width: 180px;
  height: 180px;
  margin: 10px;
  float: left;
}

.icone {
  position: fixed;
  top: 30px;
  z-index: 10;
  left: 240px;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

.grafico {
  position: relative;
  width: 1000px;
  height: 1000px;
  left: 50%;
  transform: translateX(-50%);
}
