h1 
{
    font-family: 'Dancing Script', cursive;
    color: #ff0d05;
    font-size: 50px;
}

.Titolo
{
    font-size: 100px;
}

table 
{
    width: 100%;
}

td,th 
{
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    text-align: center;
    padding: 15px;
    font-size:30px;
}

tr
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/**colore riga alternato pari**/
tr:nth-child(2n) 
{
    background-color: #09ff0059;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) 
{
    background-color: #f0ec067e;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) 
{
    background-color: #0400ff60;
}

/**classe che mette in grasetto il testo**/
.grasetto 
{
    font-weight: bold;
}

.Bandiera-FVG 
{
    margin:55;
    width:auto;
    height: 200px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

p
{
    font-family: 'Hubballi', cursive;
    font-size: 30px;
    color: black;
}

a
{
    text-decoration: none;
    color:blue;
}


.colore_apertura{
    font-family: 'Dancing Script', cursive;
    color: rgb(5, 236, 20);
}

.immagine_bici
{
    display: block;
    margin: 0 auto;
    width:auto;
    height: 100px;
}

@media all and (max-width: 520px)
{
    table{
        width:45 %;
    }

    h1{
        margin: 150px;
    }

    p{
        margin : 180px;
    }
}

@media all and (min-width 521px)
{
    table{
        width: 100%;
    }

    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }
}
