h1 
{
    font-family: 'Dancing Script', cursive;
    color: #ff0d05;
    font-size: 50px;
    text-align: center;
}

p
{
    font-family: 'Hubballi', cursive;
    font-size: 30px;
    text-align: center;
    color: black;
}

table 
{
    width: 100%;
}

td,th 
{
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    text-align: center;
    padding: 15px;
    font-size:30px;
}

tr
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/**colore riga alternato pari**/
tr:nth-child(2n) 
{
    background-color: #00ff08;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) 
{
    background-color: #ffb700e2;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) 
{
    background-color: #00f2f6bd;
}

/**classe che mette in grasetto il testo**/
.grasetto 
{
    font-weight: bold;
}

.immagine 
{
    display: block;
    margin: 0 auto;
    width:auto;
    height: 700px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

.Bandiera-FVG 
{
    margin:55;
    width:auto;
    height: 200px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

.Primavera
{
    background-color: rgb(120, 240, 64);
}

a
{
    text-decoration: none;
    color:blue;
}


.colore_apertura{
    font-family: 'Dancing Script', cursive;
    color: rgb(5, 236, 20);
}

input{
    position: relative;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color:blue;
    background-color: orange;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: dashed #ff006a 10px;
}