h1 
{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
}

p
{
    font-family: 'Hubballi', cursive;
    font-size: 30px;
    text-align: center;
    color: black;
}

table 
{
    width: 100%;
    background-color: white;
}

td,th 
{
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    text-align: center;
    padding: 15px;
    font-size:30px;
}

tr
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/**colore riga alternato pari**/
tr:nth-child(2n) 
{
    background-color: #f6b900bd;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) 
{
    background-color: #00fff7e2;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) 
{
    background-color: #00aeff;
}

/**classe che mette in grasetto il testo**/
.grasetto 
{
    font-weight: bold;
}

.immagine 
{
    display: block;
    margin: 0 auto;
    width:auto;
    height: 700px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

.Bandiera-FVG 
{
    margin:55;
    width:auto;
    height: 200px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}


.Autunno-Inverno{
    background-color: brown;
    border-radius: 50px;
}

a
{
    text-decoration: none;
    color:blue;
}

input{
    position: relative;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color:blue;
    background-color: #fbff00;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: dashed rgb(255, 0, 187) 10px;
    cursor: pointer;
}

.immagini_stagione {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 250px;
    border: dashed #00ff9d 10px;
    background-color: yellow;
}

body
{
    background: linear-gradient(to right , #79E0EE, #B1AFFF, #79E0EE);
}

.colore_apertura {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(cyan,cyan);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 50%;
    transition: background-size 300ms ease-in-out;
    font-family: 'Dancing Script', cursive;
    color: orangered;
}

.colore_apertura:hover {
    
    font-family: 'Dancing Script', cursive;
    background-size: 100% 25%;
}

input:hover{
    color: red;
}

tr:hover
{
    background: white;
}